@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
//Обнуление
@import "_null";

$color1: #043883;
$color2: #FDD201;
$fr: 'Roboto', sans-serif;


//---Main
html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #fff;
	overflow-x: hidden;
}
section{
	padding: 50px 0;
}
a{
	font-family: 'Roboto', sans-serif;
}
h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.77rem;
}
h2{
	font-size: 1.78rem;
	font-family: $fr;
	text-align: center;
}
h3{
	font-size: 1.56rem;
	font-family: $fr;
	margin-bottom: 50px;
}
h4{
	font-size: 1.33rem;
	font-family: $fr;
}
p{
	line-height: 1.3;
	margin-bottom: 20px;
}
.container{
	max-width: 1480px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: visible;
}


//---header
.header {
	background: $color1;
	padding: 30px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.header__logo{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: $color2;
}
.nav {
	width: 50%;
}
.nav__list{
	display: flex;
	justify-content: space-between;
}
.nav__link {
	&:hover{
		text-decoration: underline;
	}
}
.header__link {
	&:hover{
		text-decoration: underline;
	}
}
.burger{
	width:30px;
	height:30px;
	position:relative;
	cursor: pointer;
	z-index: 3;
	display: none;
}
 .burger__line1,.burger__line2,.burger__line3 {
	width: 80%;
	height: 2px;
	background: #fff;			
	left: 10%;			
	position:absolute;
	transition: 0.3s ease;
	opacity: 1;
}		
.burger__line1{			
	top: 20%;			
}
.burger__line2{			
	top: 80%;			
}
.burger__line3{
	top: 50%;
}
.burger.active .burger__line1,.burger.active .burger__line2{			
	top:50%;
	transition:0.5s ease;
}		
.burger.active .burger__line1{
	transform:rotate(-45deg);			
}	
.burger.active .burger__line2{
	transform:rotate(45deg);			
}
.burger.active .burger__line3{
	opacity: 0;
}


//---Promo
.promo {
	background: url("../img/img1.jpg") 0 0/cover no-repeat;
	height: 100%;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.7);
		z-index: 1;
	}
}
.promo__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	z-index: 2;
}
.promo__subtitle {
	margin: 50px 0;
}
.button {
	width: 400px;
	height: 70px;
	background: $color2;
	transition: .2s;
	font-size: 1.33rem;
	font-family: $fr;
	&:hover{
		background: #ba9a01;
	}
	&.button-small{
		width: 300px;
		height: 50px;
	}
}


//---About
.about {
	color: #000;
}
.about__inner {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 300px;
	max-height: 500px;
}
.about__title{
	width: 60%;
}
.about__content {
	width: 60%;
}
.about__img {
	width: 40%;
	min-width: 310px;
	min-height: 300px;
}
.about__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


//---Team
.team {
	background: $color1;
}
.team__gallery {
	display: flex;
	justify-content: space-between;
}
.team__item {
	text-align: center;
	width: 30%;
}
.team__img {
	width: 100%;
}
.team__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.team__name {
	margin: 10px 0;
}


//---Services
.services{
	padding-bottom: 0;
}
.services__title {
	color: #000;
}
.services__board {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services__item {
	width: 30%;
	min-height: 294px;
	padding: 50px;
	margin-bottom: 50px;
	background: url('../img/service.jpg') center/cover no-repeat;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
		z-index: 1;
	}
}
.services__name {
	margin-bottom: 30px;
	position: relative;
	z-index: 2;
}
.services__text {
	position: relative;
	z-index: 2;
}


//---Works
.works {
	background: $color1;
}
.works__gallery {
	display: flex;
	flex-wrap: wrap;
}
.works__item {
	width: 50%;
	position: relative;
	&:hover .works__content{
		opacity: 1;
	}
}
.works__img {
	width: 100%;
	height: 100%;
}
.works__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.works__content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	text-align: center;
}
.works__name {
	margin-bottom: 20px;
}
.works__text{
	margin: 0;
}


//---Partners
.partners__title {
	color: #000;
}
.partners__gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.partners__item {
	width: 22%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 200px;
	max-height: 200px;
}


//---Reviews
.reviews {
	background: $color1;
}
.reviews__item {
	background: rgba(160, 158, 158, .2);
	padding: 40px 30px;
	display: flex;
	line-height: 1.5;
}
.reviews__img {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	overflow: hidden;
	flex: 0 0 auto;
}
.reviews__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.reviews__content {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}
.reviews__text {
	margin-bottom: 50px;
}
.reviews__person {
	color: $color2;
}


//---Advantage
.advantage {
	color: #000;
}
.advantage__board {
	display: flex;
	justify-content: space-between;
}
.advantage__item {
	width: 23%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.advantage__img {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}
.advantage__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.advantage__name {
	margin-bottom: 30px;
}


//---Contact
.contact {
	background: $color1;
}
.contact__inner {
	display: flex;
	position: relative;
}
.contact__form {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.contact__title {
	margin-bottom: 40px;
}
.contact__input {
	width: 70%;
	padding: 10px 0 10px 30px;
	margin-bottom: 30px;
}
.contact__checkbox {
	margin: 0 10px 50px 0;
}
.contact__img {
	position: absolute;
	width: 50vw;
	height: calc(100% + 100px);
	left: 50%;
	top: -50px;

	background: url('../img/contact.jpg') 0 0/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 50px;
	color: $color2;
}
.contact__advantage{
	margin: 0;
}


//---Footer
.footer {
	background: #052655;
	padding-top: 30px;
	font-size: small;
	& a:hover{
		text-decoration: underline;
	}
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.footer__info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
}
.footer__social{
	width: 25%;
	display: flex;
	justify-content: space-between;
}
.footer__contact{
	& p{
		margin: 10px 0;
	}
}
.footer__logo {
	color: $color2;
	margin-bottom: 10px;
	font-size: 24px;
	& a:hover{
		text-decoration: none;
	}
}
.footer__copy {
	text-align: center;
	margin: 20px 0 0;
}


// ---Media
@media(max-width:1240px){

	html, body{
		font-size: 16px;
	}

	.button {
		width: 300px;
		height: 70px;
	}
}


@media(max-width:990px){

	.header{
		padding: 20px 0;
	}
	.nav {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100vw;
		background: $color1;
		padding: 0 20px 20px;
		display: none;
	}
	.nav.show{
		display: block;
	}
	.nav__list{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
	}
	.nav__item{
		margin: 10px 0;
	}
	.header__contact{
		display: none;
	}
	.burger{
		display: block;
	}


	.team__item{
		width: 48%;
		&:nth-child(1){
			display: none;
		}
	}


	.services__item{
		width: 48%;
	}


	.works__gallery {
		display: block;
	}
	.works__item {
		width: 100%;
		position: static;
		display: none;
		&:nth-child(1){
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.works__img {
		width: 80%;
		height: auto;
	}
	.works__content {
		position: static;
		background: transparent;
		opacity: 1;
		margin-top: 50px;
		padding:0;
	}


	.footer__info{
		width: auto;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__social{
		width: auto;
	}
	.footer__confid{
		margin-bottom: 10px;
	}
	.footer__whatsapp{
	margin-right: 20px;
	}
}


@media(max-width:768px){

	html, body{
		font-size: 14px;
	}
	section{
		padding: 20px 0;
	}
	h3{
		margin-bottom: 30px;
	}


	.header{
		padding: 10px 0;
	}
	

	.promo__inner{
		padding-bottom: 20px;
	}
	.promo__subtitle{
		margin: 30px 0;
	}


	.about__inner {
		flex-wrap: nowrap;
		min-height: auto;
		max-height: auto;
	}
	.about__title{
		width: auto;
		order: 1;
	}
	.about__content {
		width: auto;
		order: 3;
	}
	.about__img {
		width: 40%;
		min-width: auto;
		min-height: auto;
		order: 2;
		margin: 0 auto 20px;
	}


	.services__title{
		margin-bottom: 20px;
	}
	.services__board {
		flex-wrap: nowrap;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}
	.services__item{
		width: 70%;
	}


	.works__img{
		width: 100%;
	}
	.works__content {
		margin-top: 20px;
	}


	.reviews__item {
		flex-direction: column;
		align-items: center;
		padding: 20px 10px;
	}
	.reviews__content{
		margin-left: 20px;
	}
	.reviews__img {
		width: 150px;
		height: 150px;
		margin-bottom: 20px;
	}
	.reviews__text {
		margin-bottom: 20px;
	}


	.advantage__board {
		flex-wrap: wrap;
	}
	.advantage__item {
		width: 48%;
	}
	.advantage__img {
		width: 100px;
		height: 100px;
		margin-bottom: 10px;
	}
	.advantage__name {
		margin-bottom: 15px;
	}


	.contact__form {
		width: 100%;
		align-items: center;
	}
	.contact__title {
		margin-bottom: 30px;
	}
	.contact__input {
		margin-bottom: 30px;
	}
	.contact__checkbox {
		margin: 0 10px 30px 0;
	}
	.contact__img {
		display: none;
	}


	.footer__logo{
		font-size: 20px;
	}
	.footer__social{
		width: 53%;
	}
}

@media(max-width:576px){

	h1, h2{
		text-align: left;
	}
	h1{
		font-size: 36px;
	}
	.promo__inner{
		align-items: flex-start;
	}
	.button{
		height: 40px;
		width: 100%;
		&.button-small{
			height: 40px;
		}
	}


	.team__gallery {
		justify-content: center;
		align-items: center;
	}
	.team__item{
		width: 70%;
		&:nth-child(2){
			display: none;
		}
	}


	.services__item{
		width: 100%;
	}


	.partners__gallery{
		justify-content: space-around;
	}
	.partners__item {
		width: 35%;
		margin-bottom: 20px;
	}


	.advantage__board{
		flex-direction: column;
		align-items: center;
	}
	.advantage__item {
		width: 75%;
		margin-bottom: 20px;
	}


	.contact__input {
		width: 100%;
	}


	.footer__inner{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__social{
		flex-direction: column;
		margin-top: 10px;
	}
	.footer__whatsapp{
		width: 50px;
	}
}